$body-text-color: #444;  //系统文字颜色
$body-font-family:"Microsoft Yahei"; //系统字体-微软雅黑
$body-font-size:14px;  //系统字体大小
$body-ling-height:1.5;  //系统行距
$body-bg-color:#f5f7fa;  //系统背景色
$body-border-color:#e8e8e8;  //系统边框颜色
$body-border-radius:2px;  //系统圆角

$main-header-height:50px;  //默认头部高度
$main-sidebar-width:230px;  //默认左侧宽度
